<div class="h-svh me-24">
  <div class="flex h-full px-2.5 py-3 fixed">
    <div
      class="bg-surface-100 dark:bg-surface-800 w-fit flex flex-col items-center justify-between rounded-xl p-3.5 overflow-y-auto"
    >
      <div class="flex flex-col">
        <i
          class="pi pi-prime w-full aspect-square bg-transparent border rounded-lg dark:border-white border-black mb-8 flex justify-center items-center hover:border-primary hover:text-primary transition-colors text-black dark:text-white"
        ></i>
        <div class="flex flex-col gap-1">
          <p-button
            icon="pi pi-home"
            aria-label="Home"
            pTooltip="Home"
            tooltipPosition="right"
          />
          <p-button
            severity="secondary"
            icon="pi pi-user"
            aria-label="Users"
            pTooltip="Users"
            tooltipPosition="right"
          ></p-button>
          <p-button
            severity="secondary"
            icon="pi pi-file-edit"
            aria-label="Attendance"
            pTooltip="Attendance"
            tooltipPosition="right"
          />
        </div>
      </div>
      <div class="flex flex-col items-center">
        <p-button
          severity="secondary"
          icon="pi pi-cog"
          aria-label="Settings"
          pTooltip="Settings"
          tooltipPosition="right"
        />
        <div class="mb-1">
          <p-divider />
        </div>
        <div
          class="w-full aspect-square rounded-full bg-primary flex justify-center items-center"
        >
          <p class="dark:text-black text-lg text-semibold">U</p>
        </div>
      </div>
    </div>
  </div>
</div>
