<div class="flex flex-col gap-1">
    <div class="flex justify-between items-center">
        <p class="font-semibold text-slate-800">Weeks</p>
        <div class="flex gap-2 items-center">
            <p class="text-xs text-slate-500">From - Till</p>
            <div class="flex gap-1">
                <div
                    class="flex items-center justify-center size-7 bg-white rounded border border-slate-200 hover:bg-slate-100 cursor-pointer"
                >
                    ‹
                </div>
                <div
                    class="flex items-center justify-center size-7 bg-white rounded border border-slate-200 hover:bg-slate-100 cursor-pointer"
                >
                    ›
                </div>
            </div>
        </div>
    </div>
    <div class="flex gap-2">
        <div
            class="flex flex-col rounded-xl border-slate-200 border bg-white items-center justify-center py-2.5 px-3 w-24 hover:border-indigo-500 cursor-pointer"
        >
            <p class="font-semibold font-lg">W1</p>
            <p class="text-slate-400 text-xs">20 Apr</p>
            <div class="flex w-1/2">
                <span class="w-full h-1 bg-slate-300 rounded-full mt-2"></span>
            </div>
        </div>
    </div>
</div>
