<div class="flex">
  <div class="h-svh">
    <div class="flex h-full px-2.5 py-3">
      <div
        class="bg-surface-100 dark:bg-surface-800 w-fit flex flex-col items-center justify-between rounded-xl p-3.5 overflow-y-auto"
      >
        <div class="flex flex-col">
          <i
            class="pi pi-prime w-full aspect-square bg-transparent border rounded-lg dark:border-white border-black mb-8 flex justify-center items-center hover:border-primary hover:text-primary transition-colors text-black dark:text-white"
          ></i>
          <div class="flex flex-col gap-1">
            <p-button
              icon="pi pi-home"
              aria-label="Home"
              pTooltip="Home"
              tooltipPosition="right"
            />
            <p-button
              severity="secondary"
              icon="pi pi-user"
              aria-label="Users"
              pTooltip="Users"
              tooltipPosition="right"
            ></p-button>
            <p-button
              severity="secondary"
              icon="pi pi-file-edit"
              aria-label="Attendance"
              pTooltip="Attendance"
              tooltipPosition="right"
            />
          </div>
        </div>
        <div class="flex flex-col items-center">
          <p-button
            severity="secondary"
            icon="pi pi-cog"
            aria-label="Settings"
            pTooltip="Settings"
            tooltipPosition="right"
          />
          <div class="mb-1">
            <p-divider />
          </div>
          <div
            class="w-full aspect-square rounded-full bg-primary flex justify-center items-center"
          >
            <p class="dark:text-black text-lg text-semibold">U</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="h-svh px-2.5 py-3">
    <div
      class="lg:w-64 w-40 h-full overflow-hidden border border-surface rounded-xl flex flex-col"
    >
      <div
        class="flex items-center justify-between gap-2 p-4 border-b border-surface"
      >
        <div class="text-xl font-semibold leading-7 text-color">
          Week Picker
        </div>
      </div>
      <div
        class="flex-1 flex flex-col overflow-auto justify-between gap-4 pt-4 pb-4 px-4"
      >
        <div class="flex-1 overflow-auto flex flex-col gap-2">
          <div class="flex flex-col gap-1.5 ng-star-inserted">
            <button
              class="px-4 py-2 justify-between rounded-lg flex items-center gap-2 cursor-pointer hover:bg-emphasis transition-all text-color bg-emphasis ng-star-inserted"
            >
              <span class="font-medium">Week 1</span>
              <div class="size-2 bg-green-500 rounded-full"></div>
            </button>
            <button
              class="px-4 py-2 justify-between rounded-lg flex items-center gap-2 cursor-pointer hover:bg-emphasis transition-all text-color ng-star-inserted"
            >
              <span class="font-medium">Week 2</span>
              <div class="size-2 bg-primary-500 rounded-full"></div>
            </button>
            <button
              class="px-4 py-2 justify-between rounded-lg flex items-center gap-2 cursor-pointer hover:bg-emphasis transition-all text-color ng-star-inserted"
            >
              <span class="font-medium">Week 3</span>
              <div class="size-2 bg-orange-500 rounded-full"></div>
            </button>
            <button
              class="px-4 py-2 justify-between rounded-lg flex items-center gap-2 cursor-pointer hover:bg-emphasis transition-all text-color ng-star-inserted"
            >
              <span class="font-medium">Week 4</span>
              <div class="size-2 bg-red-500 rounded-full"></div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col w-full px-2.5 py-3">
    <div
      class="w-full h-full overflow-hidden border border-surface rounded-xl flex flex-col"
    >
      <div
        class="flex items-center justify-between gap-2 p-4 border-b border-surface"
      >
        <div class="flex flex-col gap-2">
          <div class="flex gap-2">
            <p class="font-semibold text-xl">Week 1</p>

            <div class="hidden md:flex">
              <p-tag severity="contrast">New</p-tag>
            </div>
            <div class="md:hidden flex items-center">
              <div
                class="dark:bg-white bg-black w-1.5 h-1.5 rounded-full"
              ></div>
            </div>
          </div>
          <p class="text-secondary tex-sm hidden md:block">
            21.2.2025 - 28.2.2025
          </p>
        </div>

        <div class="flex h-full justify-end gap-2">
          <p-button severity="secondary" icon="pi pi-file-export" />
          <p-button severity="secondary" icon="pi pi-file-import" />

          <p-button
            icon="pi pi-save"
            class="block md:hidden"
            (onClick)="confirmSubmit()"
          ></p-button>
          <p-button class="hidden md:block" (onClick)="confirmSubmit()">
            <i class="pi pi-save"></i> Submit</p-button
          >
        </div>
      </div>
      <div class="flex flex-col justify-between">
        <div class="flex-1 flex flex-col overflow-auto gap-3 pt-4 pb-4 px-4">
          <div
            class="border rounded-lg border-surface px-2 py-3 flex justify-between"
          >
            <div class="flex gap-4">
              <p-tag>ODP</p-tag>
              <p>
                Morning check, checking pods and nodes, restarting stuck pods
              </p>
            </div>
            <p class="font-bold text-xl me-4">2</p>
          </div>
          <div class="flex justify-end gap-2">
            <p-button severity="contrast">
              <p class="font-bold">2 Hours total</p>
            </p-button>
            <p-button (onClick)="toggleEntryDialog()">
              <i class="pi pi-plus"></i> New entry</p-button
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-dialog
  header="New entry"
  [(visible)]="entryModalVisible"
  [modal]="true"
  [style]="{ width: '24rem' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="flex flex-col gap-4">
    <div class="flex flex-col gap-2">
      <label class="font-semibold text-sm" for="subject">Subject</label>
      <input
        pInputText
        placeholder="SUB"
        id="subject"
        aria-describedby="subject-help"
      />
      <small class="text-xs" id="subject-help"
        >Enter 3 or 4 character shortcut for subject name</small
      >
    </div>
    <div class="flex flex-col gap-2 min-h-32">
      <label class="font-semibold text-sm" for="description">Description</label>
      <textarea
        style="resize: none"
        rows="5"
        cols="30"
        pTextarea
        placeholder="Some kind of description..."
        [autoResize]="false"
      ></textarea>
    </div>
    <div class="flex flex-col gap-2">
      <label class="font-semibold text-sm" for="description">Hours</label>
      <p-inputnumber
        placeholder="Amount of hours"
        inputId="minmax"
        [min]="0"
        [max]="20"
      />

      <small class="text-xs" id="hours-help"
        >Enter number of hours lesson/task took</small
      >
    </div>
    <div class="flex justify-end">
      <div class="flex gap-2">
        <p-button (onClick)="toggleEntryDialog()" severity="secondary"
          >Cancel</p-button
        >
        <p-button>Submit</p-button>
      </div>
    </div>
  </div>
</p-dialog>
<p-confirmdialog />
