<div class="w-full flex flex-col sm:flex-row">
  <div class="sm:h-svh h-full px-2.5 py-3">
    <div
      class="lg:w-64 sm:w-40 w-full h-full overflow-hidden border border-surface rounded-xl flex flex-col"
    >
      <div
        class="flex items-center justify-between gap-2 p-4 border-b border-surface"
      >
        <div class="text-xl font-semibold leading-7 text-color">
          Week Picker
        </div>
      </div>
      <div
        class="flex-1 flex flex-col overflow-auto justify-between gap-4 pt-4 pb-4 px-2"
      >
        <div class="flex-1 overflow-auto flex flex-col gap-2">
          <div class="flex flex-col gap-1.5 ng-star-inserted">
            @for(week of numberToArray(weekCount()); track $index) {
            <button
              (click)="createAttendance($index)"
              class="px-4 py-2 justify-between rounded-lg flex items-center gap-2 cursor-pointer hover:bg-emphasis transition-all text-color ng-star-inserted mx-2"
              [class.bg-emphasis]="currentWeek() === $index"
            >
              <span class="font-medium">Week {{ $index + 1 }}</span>
              <div
                class="size-2 {{ getWeekStatusColor($index) }} rounded-full"
              ></div>
            </button>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col w-full px-2.5 py-3">
    @if(currentAttendance(); as attendance) {
    <div
      class="w-full h-full overflow-hidden border border-surface rounded-xl flex flex-col"
    >
      <div
        class="flex items-center justify-between gap-2 p-4 border-b border-surface"
      >
        <div class="flex flex-col gap-2">
          <div class="flex gap-2">
            <p class="font-semibold text-xl">Week {{ attendance.week + 1 }}</p>

            <div class="hidden md:flex">
              <p-tag severity="contrast">New</p-tag>
            </div>
            <div class="md:hidden flex items-center">
              <div
                class="dark:bg-white bg-black w-1.5 h-1.5 rounded-full"
              ></div>
            </div>
          </div>
          <p class="text-secondary tex-sm hidden md:block">
            {{ getWeekDateString(attendance.week) }}
          </p>
        </div>

        <div class="flex h-full justify-end gap-2">
          <p-button severity="secondary" icon="pi pi-file-export" />
          <p-button severity="secondary" icon="pi pi-file-import" />

          <p-button
            icon="pi pi-save"
            class="block md:hidden"
            (onClick)="confirmSubmit()"
          ></p-button>
          <p-button class="hidden md:block" (onClick)="confirmSubmit()">
            <i class="pi pi-save"></i> Submit</p-button
          >
        </div>
      </div>
      <div class="flex flex-col justify-between">
        <div class="flex-1 flex flex-col overflow-auto gap-3 pt-4 pb-4 px-4">
          @for(item of attendance.content; track $index) {
          <div
            class="border rounded-lg border-surface px-2 py-3 flex justify-between"
          >
            <div class="flex items-center gap-4">
              <p-tag>{{ item.subject.toUpperCase() }}</p-tag>
              <p>
                {{ item.description }}
              </p>
            </div>
            <div class="flex gap-2 items-center ms-4">
              <p class="font-bold text-xl me-2">{{ item.hours }}</p>
              <p-button (onClick)="editAttendanceItem($index)">
                <i class="pi pi-pencil"></i
              ></p-button>
              <p-button> <i class="pi pi-trash"></i></p-button>
            </div>
          </div>
          }
          <div class="flex justify-end gap-2">
            @if(attendance.content.length > 0) {
            <p-button severity="contrast">
              <p class="font-bold">{{ totalHours() }} Hours total</p>
            </p-button>
            }
            <p-button (onClick)="toggleEntryDialog(entryDialogTypes.New)">
              <i class="pi pi-plus"></i> New entry</p-button
            >
          </div>
        </div>
      </div>
    </div>
    }
  </div>
  <p-dialog
    [header]="
      entryDialogType() === entryDialogTypes.New ? 'New entry' : 'Edit entry'
    "
    [(visible)]="entryModalVisible"
    [modal]="true"
    [style]="{ width: '24rem' }"
    [draggable]="false"
    [resizable]="false"
  >
    <div class="flex flex-col gap-4">
      <div class="flex flex-col gap-2">
        <label class="font-semibold text-sm" for="subject">Subject</label>
        <input
          [(ngModel)]="entrySubject"
          pInputText
          placeholder="SUB"
          id="subject"
          aria-describedby="subject-help"
        />
        <small class="text-xs" id="subject-help"
          >Enter 3 or 4 character shortcut for subject name</small
        >
      </div>
      <div class="flex flex-col gap-2 min-h-32">
        <label class="font-semibold text-sm" for="description"
          >Description</label
        >
        <textarea
          [(ngModel)]="entryDescription"
          style="resize: none"
          rows="5"
          cols="30"
          pTextarea
          placeholder="Some kind of description..."
          [autoResize]="false"
        ></textarea>
      </div>
      <div class="flex flex-col gap-2">
        <label class="font-semibold text-sm" for="description">Hours</label>
        <p-inputnumber
          [(ngModel)]="entryHours"
          placeholder="Amount of hours"
          inputId="minmax"
          [min]="0"
          [max]="20"
        />

        <small class="text-xs" id="hours-help"
          >Enter number of hours lesson/task took</small
        >
      </div>
      <div class="flex justify-end">
        <div class="flex gap-2">
          <p-button (onClick)="toggleEntryDialog()" severity="secondary"
            >Cancel</p-button
          >
          @if(entryDialogType() === entryDialogTypes.New) {
          <p-button (onClick)="addAttendanceItem()">Submit</p-button>
          }@else {
          <p-button (onClick)="updateAttendanceItem(currentAttendanceItem())"
            >Update</p-button
          >
          }
        </div>
      </div>
    </div>
  </p-dialog>
  <p-confirmdialog />
</div>
