<div class="p-4 rounded-lg bg-white border border-slate-200">
    <div class="flex justify-between items-center">
        <div
            class="size-8 flex items-center justify-center hover:bg-slate-100 rounded-lg cursor-pointer"
        >
            <p>‹</p>
        </div>
        <p class="font-semibold text-slate-700 h-fit">Month</p>
        <div
            class="size-8 flex items-center justify-center hover:bg-slate-100 rounded-lg cursor-pointer"
        >
            <p>›</p>
        </div>
    </div>
</div>
